{
    "presets": [
        [
            "es2015", // npm i babel-preset-es2015 babel-preset-es2015-loose babel-preset-react -D
            {
                "loose": true
            }
        ],
        "react"
    ],
    "plugins": ["react-hot-loader/babel"]
}